@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body {
  height: 100%;
  font-family: Roboto, sans-serif;
}

.list {
  background-color: black;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}

#textInput {
  height: 14px;
  margin-bottom: 0;
  margin: 0 4px;
  padding: 0 4px;
  font-family: Courier, monospace;
  border-radius: 12px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
